/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Cached common rubocop config
.rubocop-https---dbdrive-github-io-triebwerk-rubocop-common-yml
